@charset "utf-8";
/* CSS Document */

*{
	transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	}
	
body{
	width:1200px;
	min-height:950px;
	padding-top:1px;
	background-image:url(Images/bg.jpg);
	background-repeat:repeat;
}

div.container{
	width:1100px;
	min-height:950px;
	position:relative;
}

div.container div.left-handle{
	width:700px;
	height:700px;
	position:absolute;
	background-image:url(Images/4.jpg);
	left:420px;
	top:200px;
	z-index:1;
	box-shadow: 14px 14px 3px #111;
	-webkit-box-shadow: 14px 14px 3px #111;
	-ms-box-shadow: 14px 14px 3px #111;
	
}

div.left-handle div.container-logo{
	width:700px;
	min-height:200px;
	position:absolute;
	left:160px;
	top:-35px;
	z-index:2;
}

div.container-logo div.logo{
	width:400px;
	height:300px;
	background-image:url(Images/Logo.png);
}

div.left-handle div.container-picture{
	width:700px;
	min-height:270px;
	position:absolute;
	z-index:3;
	background-color:#666;
	top:250px;
}

div.container-picture div.vertical-picture{
	
}

div.left-handle div.container-menu{
	min-width:700px;
	min-height:300px;
	position:absolute;
}

div.container-menu div.menu{
	min-width:700px;
	min-height:250px;
	position:absolute;
	top:565px;
	left:30px;
	z-index:5;
}

div.menu ul{
	list-style-type:none;
}

div.menu li{
	width:70px;
	height:100px;
	float:left;
	margin-left:10px;
	margin-top:5px;
	display:block;
	padding-right:10px;
}

div.menu a{
	text-decoration:none;
	color:#FFF;
	font-size:23px;
	white-space:nowrap;
}

div.right-handle{
	width:700px;
	height:700px;
	position:absolute;
	background-image:url(Images/right-bg1.jpg);
	background-repeat:no-repeat;
	left:1125px;
	top:200px;
	z-index:1;
	box-shadow: 12px 14px 3px #111;
	-webkit-box-shadow: 12px 14px 3px #111;;
	-moz-box-shadow: 12px 14px 3px #111;
	-ms-box-shadow: 12px 14px 3px #111;
}

div.right-handle div.content1{
	
}

