@charset "utf-8";
/* CSS Document */

*{
	transition:all 1s;
	-moz-transition:all 1s;
	-webkit-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
	}
	
body{
	width:1200px;
	min-height:950px;
	padding-top:1px;
	background-image:url(Images/bg.jpg);
	
}

div.container{
	width:1100px;
	min-height:950px;
	position:relative;
}

div.container div.left-handle{
	width:700px;
	height:700px;
	position:absolute;
	background-color:#000099;
	left:420px;
	top:200px;
	z-index:1;
	
}

div.left-handle div.container-logo{
	
}

div.container-logo div.logo{
	
}

div.left-handle div.container-picture{
	
}

div.container-picture div.vertical-picture{
	
}

div.left-handle div.container-menu{
	
}

div.container-menu div.menu{
	
}

div.right-handle{
	width:700px;
	height:700px;
	position:absolute;
	background-color:#000;
	left:1120px;
	top:200px;
	z-index:1;
}

div.right-handle div.content1{
	
}

