*{
	transition:all 700ms;
	-moz-transition:all 700ms;
	-webkit-transition:all 700ms;
	-o-transition:all 700ms;
	-ms-transition:all 700ms;
}

@font-face{
	font-family: iran;
	src: url('iran.ttf');
}

@font-face{
	font-family: lotus;
	src: url('lotus.ttf');
}


body{
	margin:0;
	padding:0;
	background-color:#333s;
	background-image:url(images/12412.jpg);
		
}

div.main{
	width:1020px;
	height:391px;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:auto;
	background-image:url(images/dropshadow.png);	
	padding-top:1px;
	
}

div.matlab{
	width:965px;
	height:250px;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin-left:auto;
	margin-right:auto;
	margin-top:440px;
	margin-bottom:auto;	
	background-image:url(images/flower.png);
	background-color:dark gray;
	text-align:right;
	font-size:18px;
	font-family:"lotus";
	border-radius:10px;
	color:#CCC;
	box-shadow: 7px 7px 5px #000;
	-webkit-box-shadow: 6px 6px 5px #000;
}
p{
	margin:25px 14px;
}
h1{
	margin-top:15px;
	margin-right:14px;	
}
.main div.left{
	float:left;
	width:480px;
	height:357px;
	margin-left:28px;
	background-image:url(images/left.jpg);
}
.main div.right{
	height:357px;
	width:480px;
	background-image:url(images/1.jpg);
	background-repeat:no-repeat;
	margin-right:30px;
	padding-top:1px;
	overflow:hidden;
	position:relative;	
}
.main .left .top{
	width:inherit;
	min-height:113px;
	font-family:IranNastaliq;
	font-size:88px;
	color:white;
	text-align:center;
	font-weight:100;
}

div.left div.logo{
	position:absolute;
	background-image:url(images/Untitled-2.png);
	width:280px;
	height:110px;
	background-repeat:no-repeat;	
	z-index:10;
	left:130px;
}
.main .left .center{
	width:inherit;
	min-height:133px;
	background-image:url(images/center.png);
}

div.center div.autoimage{
	width:490px;
	height:133px;
	background-image:url(images/3.JPG);
	background-position:center;
	background-repeat:no-repeat;	
}

.main .left .bottom{
	width:inherit;
	min-height:113px;
	
}

div.enter{	
	width:100px;
	height:100px;
	margin:250px auto;	
	background-color:red;
}



div.bottom div.menu{
	width:1000px;
	min-height:113px;
	position:absolute;
	top:280px;
	
}
div.menu ul{
	list-style-type:none;
}
div.menu li{
	width:60px;
	height:100px;
	float:left;
	margin-left:11px;
	margin-top:5px;
	display:block;
}
div.menu a{
	text-decoration:none;
	color:#999;
	font-size:23px;
	white-space:nowrap;
	font-family:"iran";
}
div.menu li:hover a{
	text-decoration:none;
	color:#FFF;
	font-size:23px;
	white-space:nowrap;
	font-family:"iran";
}
div.menu li.l1 a{
	text-decoration:none;
	color:#CCC;
	font-size:28px;
	white-space:nowrap;
	font-weight:bold;
}

div.arrow{
	float:left;
	width:14px;
	height:280px;
	margin-left:50px;
	margin-top:40px;
}
div.submenu{
	margin-left:100px;
	width:350px;
	height:280px;
	margin-top:40px;
	position:relative;
	overflow:hidden;
}
div.scroll{
	width:inherit;
	min-height:280px;
	position:absolute;
	left:0;
	top:0;
	color:#555;
	font-family:IranNastaliq;
	font-size:50px;	
	text-align:center;	
	
}

div.scroll ul li{
	font-size:50px;
	margin:120px auto;
}
a{
	text-decoration:none;
	color:#555;
	font-weight:normal;
	font-size:63px;
	font-family:"iran";
}
div.arrow .uparr{
	width:inherit;
	height:14px;
	background-image:url(images/up.png);
	
}
div.arrow .botarr{
	width:inherit;
	height:14px;
	background-image:url(images/down.png);
	margin-top:252px;
	
}
div.container{
	width:350px;/*350px;1060px;*/
	height:280px;/*280px;600px;*/
	margin:0 auto;
/*	outline:2px dashed red;*/
}

div.formstyle{
	width:350px;/*370px;*/
	height:280px;/*270px;*/
/*	margin-top:120px;
	margin-left:430px;*/
	position:relative;
	margin-left:-4px;
}

div.formstyle input{
	display:block;
	margin:5px;
	padding:3px 5px;
	direction:rtl;
}

div.formstyle input[type=text]{
	color:#666;
	width:330px;
	font-size:14px;
	-webkit-border-radius:0 10px 0 10px;
	box-shadow:0px 0px 7px #9999FF;
	-webkit-border-radius:0 10px 0 10px;
	-webkit-box-shadow:0px 0px 7px #9999FF;
	-moz-border-radius:0 10px 0 10px;
	-moz-box-shadow:0px 0px 7px #9999FF;
	-ms-border-radius:0 10px 0 10px;
	-ms-box-shadow:0px 0px 7px #9999FF;
	-o-border-radius:0 10px 0 10px;
	-o-box-shadow:0px 0px 7px #9999FF;
	background-color:#CCC;
	border-color:#f4f4f4;
}

div.formstyle input[type=text].ok{
	background-color:#999;
	border-color:#c7c7c7;
}

div.formstyle input[type=text].nok{
	background-color:#FFECEC;
	border:1px dashed #FF4848;
}

div.formstyle textarea{
	width:340px;
	min-height:170px;
	color:#666;
	margin:5px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	border-radius:0 20px 0 20px;
	box-shadow:0px 0px 7px #9999FF;
	-webkit-border-radius:0 20px 0 20px;
	-webkit-box-shadow:0px 0px 7px #9999FF;
	-moz-border-radius:0 20px 0 20px;
	-moz-box-shadow:0px 0px 7px #9999FF;
	-ms-border-radius:0 20px 0 20px;
	-ms-box-shadow:0px 0px 7px #9999FF;
	-o-border-radius:0 20px 0 20px;
	-o-box-shadow:0px 0px 7px #9999FF;
	background-color:#CCC;
	border-color:#f4f4f4;
	direction:rtl;
}

div.formstyle textarea.ok{
	background-color:#999;
	border-color:#c7c7c7;
}

div.formstyle textarea.nok{
	background-color:#FFECEC;
	border:1px dashed #FF4848;
}

div.button{
	position:absolute;
	bottom:5px;
	right:0px;
	/*top:235px;
	left:420px;*/
	width:90px;
	height:70px;
}

div.formstyle input[type=submit]{
	background:url(img/submit.png);
	height:68px;
	width:89px;
	border: 0;
	margin-top:10px;
	cursor:pointer;
}

